@inherits UmbracoViewPage<jakobdahl.Models.LoginModel>
@using Umbraco.Web

@{
	string userName = Umbraco.GetDictionaryValue("Login.Username");
}

@if (!Umbraco.MemberIsLoggedOn())
{
	using (Html.BeginUmbracoForm("SubmitLogin", "Member", System.Web.Mvc.FormMethod.Post, new { id = "login" }))
	{
		@Html.AntiForgeryToken()
		<div class="form-group">
			@Html.LabelFor(m => m.Username)
			@Html.TextBoxFor(m => m.Username, new { placeholder = @Umbraco.GetDictionaryValue("Login.UsernamePlaceholder"), @class="form-control" })
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Password)
			@Html.PasswordFor(m => m.Password, new { placeholder = @Umbraco.GetDictionaryValue("Login.PasswordPlaceholder"), @class="form-control" })
		</div>
		<div>
			@Html.ValidationSummary()
			<button name="login" class="btn btn-primary" type="submit">Login <i class="fas fa-sign-in-alt"></i></button>
		</div>
	}
}
else
{
	Html.RenderAction("RenderLogout", "Member");
}

